/* You can add global styles to this file, and also import other style files */
:root{
    --black: #000;
    --white: #fff;
    --red: #ff1f1f;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--black);
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

/*general classes*/
.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
