<!-- banner start -->

<div class="carousel js-carousel">
  <figure class="carousel__frame js-carousel__frame">
    <div class="carousel__slides js-carousel__slides">
      <div class="slide__container flex-center flex-row active" data-bs-interval="10000" *ngFor="let b of bannerResult; let i = index"
      [ngClass]="{ 'active': i === currentIndex }">
      <div class="card__image flex-center">
        <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" alt="{{ b.title }}" class="carousel__item">
      </div>
      <div class="carousel__content flex-center flex-column">
        <h2 class="movie__title flex-center">{{b.original_title}}</h2>
        <p class="movie__description flex-center">{{ b.overview }}</p>
      </div>
      </div>
    </div>
    <div class="control flex-center">
      <div class="arrow arrow--left" (click)="prevSlide()">
        <span>Prev</span>
      </div>
      <div class="arrow arrow--right" (click)="nextSlide()">
        <span>Next</span>
      </div>
    </div>  
  </figure>
</div>

<!-- banner end -->
